.banner-img{
    width: 100%;
    height: 450px;
}

.banner{
    background-image: url(https://images.unsplash.com/photo-1527896573815-b7dd74893deb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 352px;
}

.banner h1{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: bold;
    width: 100%;
    height: 80px;
}

.parrafo-banner{
    position: static;
    width: 751px;
    height: 26px;
    left: 0px;
    top: 77px;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px
}

.console-banner{
    background-color: blue;
    width: 10%;
    height: 50px;
    border: 2px solid cyan;
    margin: 0 30px;
    transition: 1000ms;
}

.console-banner:hover{
    background-color: cyan;
    border: 2px solid blue;
    transform: scale(1.2);
    cursor: pointer;
    font-size: 18px;
}

.console-banner:active{
    border-color: black;
}